
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma';

#login-form,
#register-form,
#reset-email-form,
#reset-form,
#dashboard {
  margin-top: 5%;
}

.main-card-top {
  margin-top: 5%;
}

.reply-item-top {
  margin-top: 3%;
}
