
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma';

//Ionicons
@import "~ionicons/dist/scss/ionicons.scss";

@import "~at.js/dist/css/jquery.atwho.css";

#login-form,
#register-form,
#reset-email-form,
#reset-form,
#dashboard {
  margin-top: 5%;
}

.main-card-top {
  margin-top: 5%;
}

.reply-item-top {
  margin-top: 3%;
}

.is-red {
  color: red;
}

.is-white {
  color: #ffffff;
}

.has-read {
  font-weight: 400;
}

.reply-btn-padding {
  margin: 0.5rem 0 ;
}

.is-vertical-columns {
  flex-direction: column;
}

.thread-user-info {
  padding: 0 0.75rem;
}
